@using Microsoft.AspNetCore.Identity;
@model IdentityUser
@{

    ViewData["Title"] = "Authenticaiton Page";
}

<div class="text-center justify-content-center">
    < h5 class="display-5">Secret Page </h5>
        <ul>
            <li>@Model.Email</li>
            <li>@Model.UserName</li>
            <li>@Model.PasswordHash</li>
        </ul>
</div>
